# python
*.py[cod]
*.swp

.DS_Store
.vscode

# build
.gitconfig
.installed.cfg
bin/
parts/
eggs/
build/
python_weixin.egg-info/
dist/
venv
weixin/.ropeproject/
wxapp/local_config.js
wxapp/project.config.json

# test
test_example.py
test_settings.py
